
.news-item {
    background: #FCF6F9;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    display: block;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.news-publishedAt {
    font-size: 0.8rem;
    color: lightgray;
}

.news-title {
    font-size: 1.6rem;
    
    a {
        text-decoration: underline;
        color: black;
    }
}

.news-source {
    font-size: 1rem;
    color: darkgray;
}

.news-descript {
    font-size: 1.2rem;
    // overflow-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}